body {
    flex: 1 0 auto;
    margin-top: 47px;
}
.logo {
    background-color: aqua;
    border-radius: 8em;
    margin-left: 45%;
    padding: 10px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.game-area {
    width: 450px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
    border-radius: 3em;
    margin-left: 35%;
    font-size: 1.5em;
}

.Rock {
border-radius: 3em;
border: 1px solid black;
box-shadow: 2px 2px grey;
font-size: 1.5em;
color: white;
text-shadow: 1.5px 1.5px black;
background-color: rgb(228, 170, 170);
}

.Rock:hover {
    box-shadow: 0 0 10px rgb(71, 68, 68);
}

/* Footer */
footer {
    background-color: #8EAF43;
    height: 100px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}