/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    flex: 1 0 auto;
    margin-top: 180px;
    background-color: #2f2fa2;
}

.logo {
    background-color: #f64c72;
    border-radius: 8em;
    margin-left: 45%;
    padding: 10px;
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.game-area {
    width: 650px;
    border: 2px solid #f64c72;
    padding: 50px;
    margin: 20px;
    border-radius: 3em;
    margin-left: 35%;
    font-size: 1.5em;
}

.buttons {
    padding-top: 1em;
}

#result {
    padding-top: 1.5em;
}

.score-area {
    margin: 2em auto;
    width: 60%;
    font-size: 1.2rem;
    margin-left: 42%;
}

.scores {
    display: inline-block;
    padding: 25px;
}

#pscore {
    color: green;
    font-weight: bold;
}

#cscore {
    color: red;
    font-weight: bold;
}

/* Button Styles */

.Rock {
    border-radius: 3em;
    border: 1px solid black;
    font-size: 1.2em;
    color: white;
    background-color: #f64c72;
    padding: 7.5px;
}

.Rock:hover {
    box-shadow: 5px 5px 10px #f64c72;
}

.Paper {
    border-radius: 3em;
    border: 1px solid black;
    font-size: 1.2em;
    color: white;
    background-color: #f64c72;
    padding: 7.5px;
}

.Paper:hover {
    box-shadow: 5px 5px 10px #f64c72;
}

.Scissors {
    border-radius: 3em;
    border: 1px solid black;
    font-size: 1.2em;
    color: white;
    background-color: #f64c72;
    padding: 7.5px;
}

.Scissors:hover {
    box-shadow: 5px 5px 10px #f64c72;
}

.Lizard {
    border-radius: 3em;
    border: 1px solid black;
    font-size: 1.2em;
    color: white;
    background-color: #f64c72;
    padding: 7.5px;
}

.Lizard:hover {
    box-shadow: 5px 5px 10px #f64c72;
}

.Spock {
    border-radius: 3em;
    border: 1px solid black;
    font-size: 1.2em;
    color: white;
    background-color: #f64c72;
    padding: 7.5px;
}

.Spock:hover {
    box-shadow: 5px 5px 10px #f64c72;
}

.scorereset {
    margin-left: 50%;
}

#score-reset {
    border-radius: 3em;
    border: 1px solid black;
    font-size: 1.2em;
    color: white;
    background-color: #f64c72;
    padding: 7.5px;
}

.game-rules {
    text-align: center;
    font-size: 2em;
    color: white;
    padding-top: 1.5em;
}

/* Footer */
footer {
    background-color: #f64c72;
    height: 100px;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: white;
}

@media screen and (max-width: 600px) {

    .logo {
        margin: 10%;
    }

    .game-area {
        margin: 1%;
        width: 275px;
    }

    .score-area {
        margin: 20%;
    }

    .scorereset {
        margin: 25%;
    }

    .game-rules {
        margin: 1%;
    }

    @media screen and (max-width: 768px) {

        .logo {
            margin: 25%;
        }

        .game-area {
            margin: 15%;
            width: 275px;
        }

        .score-area {
            margin: 20%;
        }

        .scorereset {
            margin: 35%;
        }

        .game-rules {
            margin: 1%;
        }
    }