/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    flex: 1 0 auto;
    margin-top: 180px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.logo {
    background-color: #5FFBF1;
    border-radius: 8em;
    margin-left: 45%;
    padding: 10px;
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.game-area {
    width: 650px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
    border-radius: 3em;
    margin-left: 35%;
    font-size: 1.5em;
}

.buttons {
    padding-top: 1em;
}

#result {
    padding-top: 1.5em;
}

.score-area {
    margin: 2em auto;
    width: 60%;
    font-size: 1.2rem;
    margin-left: 42%;
}

.scores {
    display: inline-block;
    padding: 25px;
}

#pscore {
    color: green;
    font-weight: bold;
}

#cscore {
    color: red;
    font-weight: bold;
}

/* Button Styles */

.Rock {
    border-radius: 3em;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
    font-size: 1.5em;
    font-family: 'Brush Script MT';
    color: black;
    background-color: #5FFBF1;
    padding: 7.5px;
}

.Rock:hover {
    box-shadow: 0 0 10px rgb(71, 68, 68);
}

.Paper {
    border-radius: 3em;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
    font-size: 1.5em;
    font-family: 'Brush Script MT';
    color: black;
    background-color: #5FFBF1;
    padding: 7.5px;
}

.Paper:hover {
    box-shadow: 0 0 10px rgb(71, 68, 68);
}

.Scissors {
    border-radius: 3em;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
    font-size: 1.5em;
    font-family: 'Brush Script MT';
    color: black;
    background-color: #5FFBF1;
    padding: 7.5px;
}

.Scissors:hover {
    box-shadow: 0 0 10px rgb(71, 68, 68);
}

.Lizard {
    border-radius: 3em;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
    font-size: 1.5em;
    font-family: 'Brush Script MT';
    color: black;
    background-color: #5FFBF1;
    padding: 7.5px;
}

.Lizard:hover {
    box-shadow: 0 0 10px rgb(71, 68, 68);
}

.Spock {
    border-radius: 3em;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
    font-size: 1.5em;
    font-family: 'Brush Script MT';
    color: black;
    background-color: #5FFBF1;
    padding: 7.5px;
}

.Spock:hover {
    box-shadow: 0 0 10px rgb(71, 68, 68);
}

.rules {
        text-align: center;
        font-size: 2.5em;
        text-shadow: 2px 2px black;
        font-family: 'Brush Script MT';
        color: white;
        padding: 7.5px;
}

/* Footer */
footer {
    background-color: #d16ba5;
    height: 100px;  
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

@media screen and (max-width: 600px) {

.logo {
    margin: 10%;
}

.game-area {
    margin: 1%;
    width: 270px;
}

.score-area {
    margin: 1%;
}
}

